<div class="toolbar">
  <mat-toolbar class="toolbar-top">
    <h1 routerLink="">S</h1>
    <div class="links">
      <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
      <a routerLink="a-propos" routerLinkActive="active">A propos de moi</a>
      <a routerLink="competences" routerLinkActive="active">Compétences</a>
      <a routerLink="projets" routerLinkActive="active">Projets</a>
      <a routerLink="contacts" routerLinkActive="active">Contacts</a>
    </div>
    <button class="language" mat-icon-button>
      FR
    </button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <mat-toolbar class="toolbar-bottom">
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon  >twitter</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
  </mat-toolbar>
</div>





