<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="sidenav-header" align="end">
      <button class="btn-close" mat-icon-button (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-nav-list>
        <a *ngFor="let category of categories" (click)="goTo(category)" mat-list-item>
          <!-- <mat-icon matListItemIcon>home</mat-icon> -->
          {{ category }}
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z5" color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <span routerLink="" class="logo">AffaShop</span>
      <span class="spacer"></span>
      <div class="btns-search-close">
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
