<div class="toolbar">
  <mat-toolbar class="toolbar-top">
    <h1 routerLink="">S</h1>
    <div class="links">
      <a routerLink="">Accueil</a>
      <a routerLink="a-propos">A propos de moi</a>
      <a routerLink="competences">Compétences</a>
      <a routerLink="projets">Projets</a>
      <a routerLink="">Contacts</a>
    </div>
    <button class="language" mat-icon-button>
      FR
    </button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <mat-toolbar class="toolbar-bottom">
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon  >facebook</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="social-media">
      <mat-icon>facebook</mat-icon>
    </button>
  </mat-toolbar>
</div>





