<div class="container">
  <div class="title">
    <h1>A propos de moi</h1>
  </div>
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos corporis minus suscipit, ipsam impedit saepe commodi
      maxime sint illo est dicta laborum praesentium itaque natus expedita amet. Magni, ut laboriosam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur cum deserunt quo, a ducimus consectetur
      explicabo voluptatibus nam nisi aliquid porro quae. Harum sit iusto inventore aliquid, iste odio voluptas!
      Voluptas ipsa ab velit dolores vitae odit fuga similique provident perspiciatis illum possimus aperiam cumque,
      labore veritatis rerum hic aliquid quia iste accusamus ipsam esse sapiente. Tenetur itaque rem excepturi!
    </p>
    <div class="action">
      <button mat-raised-button class="btn-works">Voir mes travaux</button>
      <button mat-raised-button class="btn-cv">Télecharger mon CV</button>
    </div>
  </div>
</div>
