<div class="container">
  <h1>Mes compétences</h1>
  <div class="competences-btn">
    <button class="btn-round1" mat-raised-button>
      HTML
    </button>
    <button class="btn-round2" mat-raised-button>
      CSS
    </button>
    <button class="btn-round1" mat-raised-button>
      JS
    </button>
    <button class="btn-round2" mat-raised-button>
      Angular
    </button>
    <button class="btn-round1" mat-raised-button>
      NodeJS
    </button>
    <button class="btn-round2" mat-raised-button>
      MongoDB
    </button>
    <button class="btn-round1" mat-raised-button>
      Express
    </button>
    <button class="btn-round2" mat-raised-button>
      Git
    </button>
  </div>
  <div class="competences-list">
    <div class="list-left">
      <p>
        HTML
        <mat-progress-bar mode="determinate" value="90" color="primary">HTML</mat-progress-bar>
      </p>
      <p>
        CSS
        <mat-progress-bar mode="determinate" value="85" color="primary">HTML</mat-progress-bar>
      </p>
      <p>
        Javascript
        <mat-progress-bar mode="determinate" value="75" color="primary">HTML</mat-progress-bar>
      </p>
      <p>
        Angular
        <mat-progress-bar mode="determinate" value="70" color="primary">HTML</mat-progress-bar>
      </p>
    </div>
    <div class="list-right">
      <p>
        NodeJS
        <mat-progress-bar mode="determinate" value="60" color="primary" >HTML</mat-progress-bar>
      </p>
      <p>
        Express
        <mat-progress-bar mode="determinate" value="80" color="primary">HTML</mat-progress-bar>
      </p>
      <p>
        MongoDB
        <mat-progress-bar mode="determinate" value="75" color="primary">HTML</mat-progress-bar>
      </p>
      <p>
        Git
        <mat-progress-bar mode="determinate" value="78" color="primary">HTML</mat-progress-bar>
      </p>
    </div>
  </div>
</div>
