<div class="container">
  <h2>Liste des projets</h2>
  <div class="project">
    <div class="project-wiew">
      <div class="capture mat-elevation-z8">
        <div class="capture-hover">
          <p class="see-project">
            Voir le projet
            <button mat-icon-button>
              <mat-icon>description</mat-icon>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="project-description" >
      <p class="title">LMC-Shop</p>
      <p>Frontend d'une boutique de vente en ligne</p>
      <p>Utilisant: HTML, CSS & Javascript</p>
      <div class="wiew">
        <button mat-raised-button class="btn-view" (click)="goTo()">Voir le projet</button>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project-wiew">
      <div class="capture mat-elevation-z8">
        <div class="capture-hover">
          <p class="see-project">
            Voir le projet
            <button mat-icon-button>
              <mat-icon>description</mat-icon>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="project-description">
      <p class="title">LMC-Shop</p>
      <p>Frontend d'une boutique de vente en ligne</p>
      <p>Utilisant: HTML, CSS & Javascript</p>
      <div class="wiew">
        <button mat-raised-button class="btn-view">Voir le projet</button>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project-wiew">
      <div class="capture mat-elevation-z8">
        <div class="capture-hover">
          <p class="see-project">
            Voir le projet
            <button mat-icon-button>
              <mat-icon>description</mat-icon>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="project-description">
      <p class="title">LMC-Shop</p>
      <p>Frontend d'une boutique de vente en ligne</p>
      <p>Utilisant: HTML, CSS & Javascript</p>
      <div class="wiew">
        <button mat-raised-button class="btn-view">Voir le projet</button>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project-wiew">
      <div class="capture mat-elevation-z8">
        <div class="capture-hover">
          <p class="see-project">
            Voir le projet
            <button mat-icon-button>
              <mat-icon>description</mat-icon>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="project-description">
      <p class="title">LMC-Shop</p>
      <p>Frontend d'une boutique de vente en ligne</p>
      <p>Utilisant: HTML, CSS & Javascript</p>
      <div class="wiew">
        <button mat-raised-button class="btn-view">Voir le projet</button>
      </div>
    </div>
  </div>
</div>
